{% extends 'layout.html' %}

{% block header %}
    <h1>
        {% block title %}Dashboard{% endblock %}
    </h1>
    {% if g.user %}
        <a class="action" href="{{ 'new_project' }}">New Project</a>
    {% endif %}
{% endblock %}

<div>
    <span>Welcome,
        {{ g.user['username'] }}</span>
</div>

{% block content %}
    {% for project in projects %}
        <article class="projects">
            <header>
                <div>
                    <h1>{{ project['project_name'] }}</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <p class="description">{{ project['project_description'] }}</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="action" href="{{ url_for('update_project', project_id=project['id']) }}">Edit</a>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <p class="Sum_of_expenses">Total expenses: £{{ Sum_of_expenses[project['id']] }}
                                </div>
                                <div class="col-sm-4">
                                    <a class="action" href="{{ url_for('expense_summary', project_id=project['id']) }}">Expenses</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm-4">
                                    <a class="action" href="{{ url_for('new_expense', project_id=project['id']) }}">New Expense</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </article>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endblock %}