{% extends 'layout.html' %}

{% block header %}
    <h1>
        {% block title %}Expenses{% endblock %}
    </h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('new_expense', project_id=[project_id]) }}">New Expense</a>
    {% endif %}
{% endblock %}

<div>
    {% if g.user %}
        <span>Welcome,
            {{ g.user['username'] }}</span>
    {% else %}
        <span>Welcome, please Register or Login to continue.</span>
    {% endif %}
</div>

{% block content %}
    {% for expense in expenses %}
        <article class="expense website-border">
            <div class="col">
                <header>
                    <div>
                        <h2>{{ expense['expense_description'] }}</h2>
                        <div class="amount">for £
                            {{expense['expense_amount'] }}
                            on
                            {{ expense['expense_date'] }}</div>
                    </div>
                    <a class="action" href="{{ url_for('update_expense', expense_id=expense['id']) }}">Edit</a>
                </header>
            </div>
            <div class="col-2">
                <img src="{{  '/static/uploads/' + expense['receipt'] }}" alt="Image of receipt" width="500%">
            </div>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}