{% extends 'layout.html' %}

{% block header %}
    <h1>
        {% block title %}New Expense{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm">
                    <label for="expense_description">Expense Description</label>
                    <input type="text" name="expense_description" id="expense_description" value="{{ request.form['expense_description'] }}" required="required">
                </div>
                <div class="col-sm">
                    <label for="expense_amount">Amount</label>
                    <input type="text" name="expense_amount" id="expense_amount">{{ request.form['expense_amount'] }}</input>
                </div>
                <div class="col-sm">
                    <div>
                        <label for="expense_date">Date of expense</label>
                    </div>
                    <div>
                        <input type="date" name="expense_date" value="">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <label for="file">Upload Receipt</label>
                    <input type="file" name="file">
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Save">
                </div>
            </div>
        </form>
    {% endblock %}